{% extends "ride_app/base.html" %}

{% block content3 %}

<h1>Search Rides to Drive</h1>
<form method = "GET" action=".">

    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-4 Destination Address">Destination Address</label>
        <div class="col-sm-6">
            <input type="search", class = "form-control", name = "dest_addr", id="colFormLabel", placeholder="Destination Address">
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-4 Destination Address">Earliest Time</label>
        <div class="col-sm-6">
            <input type="datetime", class = "form-control", name = "earliest_time", id="colFormLabel", placeholder="YYYY-MM-dd HH:mm">
        </div>
    </div>

    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-4 Latest Time">Latest Time</label>
        <div class="col-sm-6">
            <input type="datetime", class = "form-control", name = "latest_time", id="colFormLabel", placeholder="YYYY-MM-dd HH:mm">
        </div>
    </div>

    <div class = row>
        <div class = 'col-md-9'></div>
        <div class = 'col-md-3'>
            <button type="submit">Search</button>
        </div>
    </div>
</form>





<!--<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
</form>-->
{% endblock content3 %}



{% block content2 %}
    <h3>Available Rides</h3>
    <table class="table table-striped">
      <thead>
        <tr>
            <th scope = 'col'>Owner Name</th>
          <th scope="col">Destination</th>
          <th scope="col">Arrival Time</th>
          <th scope="col">Total Number of Passengers</th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for ride, no_persons in queryset1 %}
         <tr>
             <td scope="row">{{ride.owner.first_name}}</td>
          <td>{{ride.dest_addr}}</td>
          <td>{{ride.arr_date_time}}</td>
             <td>{{no_persons}}</td>
             <td>
                 <form action = "" method = "post", name = 'lihaile'>
              {% csrf_token %}
                     <button type="submit" name = 'take_ride' value={{ride.id}}>Take</button>
          </form>
             </td>
         </tr>
      {% endfor %}
      </tbody>
    </table>


<div class = "row">
  <div class = 'col-md-11'>
  </div>
    <div class = 'col-md-1'>
        <a href="{% url 'user-home' %}">Back</a>
    </div>
</div>
{%endblock content2%}