{% extends "ride_app/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Complete Ride</legend>
                <h4>Are you sure to complete the ride "{{ ride.unique_id }}" to {{ride.dest_addr}} ?</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Complete</button>
                <a class = "btn btn-outline-secondary"href="{% url 'active-rides' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}